<!-- Container to inject the Okta Sign-In Widget -->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Registration form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form #registrationForm="ngForm" (ngSubmit)="registerUser()">
                            <h4 class="text-danger">{{msg}}</h4>
                            <h3 class="text-center text-info">Register</h3>
                            <div class="form-group">
                                <label class="text-info">Email ID:</label><br>
                                <input type="email" name="emailId" class="form-control" [(ngModel)]="user.emailId"
                                    required #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is
                                    Required Field</small> -->

                                <div *ngIf="email.errors && email.invalid && email.touched">
                                    <small class="text-danger" *ngIf="email.errors.required">Email Is Required</small>
                                    <small class="text-danger" *ngIf="email.errors.pattern">Enter Valid Email</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-info">User Name:</label><br>
                                <input type="text" name="userName" class="form-control" [(ngModel)]="user.userName"
                                    required #userName="ngModel"
                                    [class.is-invalid]="userName.invalid && userName.touched">
                                <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is
                                    Required Field</small> -->

                                <div *ngIf="userName.errors && userName.invalid && userName.touched">
                                    <small class="text-danger" *ngIf="userName.errors.required">User Name Is
                                        Required</small>

                                </div>
                            </div>


                            <div class="form-group">
                                <label class="text-info"> Password:</label><br>
                                <input type="text" name="password" class="form-control" [(ngModel)]="user.password"
                                    #password="ngModel" required
                                    [class.is-invalid]="password.invalid && password.touched">
                                <small class="text-danger" [class.d-none]="password.valid || password.untouched">
                                    Password is
                                    Required Field</small>

                            </div>

                            <div class="form-group">
                                <label class="text-info">Re-Enter Password:</label><br>
                                <input type="text" name="cpassword" class="form-control" (ngModel)="user.password"
                                    #cpassword="ngModel" required
                                    [class.is-invalid]="cpassword.invalid && cpassword.touched">
                                <small class="text-danger" [class.d-none]="(password.value==cpassword.value) || cpassword.untouched">
                                    Password & Confirm Password Should Match</small>

                            </div>

                            <div class="form-group">
                                <!-- <label for="remember-me" class="text-info"><span>Remember me</span> <span><input
                                            id="remember-me" name="remember-me" type="checkbox"></span></label> -->
                                            <br>
                                <button [disabled]="registrationForm.invalid" type="submit"
                                    class="btn btn-info btn-md">Register</button>

                            </div>

                        </form>

                        <div id="register-link" class="text-right">
                         <a class="text-info" [routerLink]="['/login']">Login Here</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- <div class="pt=5">
    <div id="okta-sign-in-widget" class="pt-5"></div>
</div> -->