<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <h1>Add New Product Category</h1>
            <form #productCategoryAddForm="ngForm" (ngSubmit)="addProductCategorys()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="categoryName">Category Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Product Name"
                            [(ngModel)]="productCategory.categoryName" required #categoryName="ngModel"
                            [class.is-invalid]="categoryName.invalid && categoryName.touched">

                        <div *ngIf="categoryName.errors && categoryName.invalid && categoryName.touched">
                            <small class="text-danger" *ngIf="categoryName.errors.required">Category Name Is
                                Required</small>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="productCategoryAddForm.invalid">Add</button>
            </form>

            <h3 class="p-3 text-center">Product Categories Available</h3>
            <div class="container">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Category Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pc of productCategories">
                            <td>{{pc.id}}</td>
                            <td> {{pc.categoryName}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>